@import url('./reset.css');
@import url('./base.css');

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  color: #212121;
  margin-top: 30px;
  margin-left: 0;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.task-links {
  margin-left: 30px;
  font-weight: 700;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  height: 696px;
  padding: 24px 156px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  background: #fff;
}

.gallery-back-link {
  margin-left: 156px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  flex-shrink: 0;
  background: url(<path-to-image>) lightgray -76px -16.297px / 125.278% 150.297%
    no-repeat;
}

.gallery-modal-image {
  display: flex;
  margin-left: 30px;
  margin-bottom: 95px;
  width: 1112px;
  height: 640px;
  flex-shrink: 0;
  background: url(<path-to-image>) lightgray -246.133px -4.929px / 127.08%
    147.165% no-repeat;
}

.simple-lightbox {
  padding: 28px 164px;
  background: rgba(46, 47, 66, 0.8);
}

.form-back-link {
  margin-left: 30px;
}

.feedback-form {
  display: inline-flex;
  padding: 24px;
  margin-bottom: 20px;
  margin-left: 30px;
  flex-direction: column;
  align-items: flex-start;
  width: 408px;
  height: 100%;
  border-radius: 8px;
  background: #fff;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.input-field {
  margin-bottom: 8px;
}

.textarea-field {
  margin-bottom: 16px;
}

.form-input {
  display: flex;
  width: 360px;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
}

.form-input:hover {
  border-radius: 4px;
  border: 1px solid #000;
}

.form-input:active {
  border-radius: 4px;
  border: 1px solid #808080;
  color: #2e2f42;
}

.form-input::placeholder {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
  opacity: 0;
}

.form-input:active::placeholder {
  opacity: 1;
}

.form-label {
  display: block;
  color: #2e2f42;
  margin-bottom: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.form-textarea {
  display: flex;
  width: 360px;
  height: 112px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.submit-btn {
  display: flex;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 8px;
  background: #4e75ff;
  border: none;
}

.submit-btn:hover {
  border-radius: 8px;
  background: #6c8cff;
}

.sl-wrapper .sl-navigation button.sl-prev,
.sl-wrapper .sl-navigation button.sl-next {
  width: 24px;
  height: 24px;
  color: #ffffff;
}

.sl-wrapper div.sl-counter {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.sl-wrapper button.sl-close {
  width: 32px;
  height: 32px;
  color: #ffffff;
}
